@font-face {
    font-family: 'DIN-Bold';
    src: url('../../fonts/DIN Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.text {
    font-family: 'DIN-Bold', sans-serif;
}

.description {
    display: flex;
}

.projects {
    border: 2px solid #00ffcc; /* Border color */
    border-radius: 10px;
}

.project-heading {
    font-size: 20px;
    font-weight: bold;
}

.projects span {
    align-self: flex-start;
}

.projects-title {
    font-size: 26px;
    font-weight: bold;
}

.projects-icon {
    width: 30px; /* Adjust the width of the icon */
    height: auto; /* Maintain the aspect ratio */
    margin-left: 10px; /* Adjust spacing between icon and title */
}

.projects h2 {
    margin-bottom: 10px;
    position: relative;
}

.projects-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust spacing between lines */
}

.icon img {
    width: 30px; /* Adjust the width of the icon image */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 10px; /* Adjust spacing between icon and text */
}

.text {
    font-size: 1em; /* Adjust the text size */
}

