@font-face {
    font-family: 'DIN-Bold';
    src: url('../../fonts/DIN Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN-Regular';
    src: url('../../fonts/DIN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.social-links {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 1rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 4px;
}

.social-link {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    transition: 0.3s opacity ease;
}

.social-link:hover {
    opacity: 30%;
}

.social-link-name {
    align-self: center;
    font-size: 24px;
    font-family: 'DIN-Regular', 'sans-serif';
}

@media (max-width: 768px) {
    .social-links {
        margin-top: 1rem;
    }

    .social-link-name {
        font-size: 12px;
    }
}
